 
 <div class="full"> 
 
  <div class="side">
    <h1>
      <a class="ems"><img class="imgg" src="https://github.com/AYUSHRAHUL/cutm.gethub.io/blob/main/ems.png?raw=true" alt="ems" /></a>
      <span> iCloudEMS</span>
    </h1>

    <h2 class="powering">
      Powering student-centric education in universities & colleges
    </h2>
    <p class="we">
      We help universities and colleges of all sizes and streams run better –
      from admissions to academics, back office to accreditation's, desktop to
      – We empower students, faculty and management to collaborate efficiently
      and use insights effectively, benchmarking quality education while
      creating personalized learning experience
    </p>
    <p class="market">
      A market leader in end-to-end unified education management solutions
    </p>
    <p class="copyright">2024 © All rights reserved & Privacy Policy</p>
  </div>
  <div class="left">
     
<br>
<br>


<br>



    <img
    class="cutmlogo"
    src="https://github.com/AYUSHRAHUL/cutm.gethub.io/blob/main/Screenshot%202024-05-28%20201410.png?raw=true"
    alt="centurian logo"
  />


<form [formGroup]="data" (ngSubmit)="handleSubmit()">
  <label for="email">User Id
  </label>
  <input type="email" id="email" placeholder="Please enter your email"  formControlName="userId" >

  <br/> <br/> <br/>
  <label for="password">Password</label>
       <input type="password" id="password"  placeholder="Please enter your password" formControlName="password">
  
       <br/> <br/> <br/>
  <button type="submit"  style="  margin-left: 150px  ; margin-top: 15px;">Login</button>

  <br/> <br/> <br/>
  <a routerLink="/register" style="display: block; text-align: center;  ">
      Don't have an account?
    </a>
    
</form>



    

</div>




  

   
</div>


